:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

p {
  line-height: 1.5;
  color: #fff;
}

.container {
  margin: 5% 15%;
}

body {
  background-image: url(./img/bg-intro-desktop-1.png);
  background-color: var(--red);
}

.registration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 2;
}

.registration-text {
  padding-top: 7rem;
  width: 90%;
  max-width: 100%;
}

form {
  max-width: 100%;
  background-color: #ffffff;
  padding: 10px;
  height: 70vh;
  border-radius: 5px;
  display: grid;
  place-items: center;
  box-shadow: 0px 5px rgba(51, 51, 51, 0.5);
}

.enter {
  display: block;
  padding: 10px 20px;
  width: 90%;
  border: 2px solid var(--grayish-blue);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  background: #fff;
}

.enter:focus {
  border: 2px solid var(--dark-blue);
}

.reg-form-btn {
  max-width: 100%;
  width: 100%;
  padding: 20px 30px;
  color: #fff;
  background-color: var(--blue);
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px rgba(51, 51, 51, 0.5);
}

.reg-form-btn span {
  color: var(--grayish-blue);
  font-weight: 400;
}

.submit-btn {
  width: 90%;
  padding: 15px 25px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--green);
  border-radius: 5px;
  font-weight: 600;
}

.submit-btn:hover {
  background-color: hsl(154, 39%, 51%);
  color: var(--grayish-blue);
}

form p {
  color: var(--grayish-blue);
  font-size: 0.6rem;
}

form p span {
  color: var(--red);
  font-weight: 400;
}

@media (max-width: 768px) {
  .container {
    margin: 5%;
  }
  h1 {
    font-size: 1.6rem;
  }

  .reg-form-btn {
    margin: 20px 0;
    padding: 20px 80px;
    font-size: 1rem;
    line-height: 1.5;
  }
  .registration {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .registration-text {
    width: 100%;
  }

  form p {
    font-size: 0.8rem;
    text-align: center;
    padding: 0 20px;
  }
}
